<div>
    <app-nav-bar></app-nav-bar>
    <div class="willdocs">
    @if(selectGenerate){
        @if ('Simple' === willSelection){
            <app-simple-will></app-simple-will>
        }@else if('Conditional' === willSelection){
            <app-conditional-will></app-conditional-will>
        }@else if('Trust' === willSelection){
            <app-trust-will></app-trust-will>    
        }@else{
            <app-steps (willSelection)="setWillSelection($event)"></app-steps>
        }
    }@else{
        <app-home (select)="setSelectGenerate($event)"></app-home>
    }
    </div>
</div>

