.wills{
    background-image: url('/assets/image/law-theme.jpg');
    background-size: cover;
    min-height: 650px;
    text-align: center;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: #f0f4f8;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.will-form{
    background-color: #e4ecf3;
    min-width: 100%;
    text-align: center;
}

.container h3 {
    color: black;
}
.new-beneficiary{
    text-align: center;
}

.btn-primary{
    color:black;
    background-color: #f0f4f8;
    border: 1px solid black;
    border-radius: 8px;
}